<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vic.dao.UserMapper">
	<select id="findUserById" resultType="vic.model.User">
		SELECT * FROM users WHERE
		ID = #{userId}
	</select>

	<select id="findAllUser" resultType="vic.model.User">
		SELECT * FROM users
	</select>

	<delete id="deleteUserById">
		DELETE FROM users WHERE id =
		#{userId}
	</delete>

	<update id="updateUserById">
		UPDATE users SET name = #{user.userName} where id = #{user.id}
	</update>

	<insert id="addNewUser">
		insert into users values (#{user.id},#{user.userName})
	</insert>
</mapper>